.linker a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 240px;
    text-shadow: 2px 2px 4px #ffffff;
    transition-duration: 0.5s;
}

.linker li :hover{
    transition-duration: 0.5s;
    font-size: 200%;
    width: 100%;
    text-decoration: underline #ffffff;

}

.linker li{
    text-decoration: none;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 0.5s;
}

.linker ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


body{
    background-color: #000000;
}

.tekst{
    color: #ffffff;
    text-align: center;
}

.sekssju {
    display: inline-block;
    outline: 2px solid #ffffff;
    color: #000000;
    padding: 4px 8px;
    background-color: #ffffff;
    font-size: 1000%;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}