.linker a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.linker li{
    text-decoration: none;
}

.linker ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

body{
    background-color: #000000;
}

.tekst{
    color: #ffffff;
    text-align: center;
}