.linker a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.linker li{
    text-decoration: none;
    float: left;
    margin-right: 3%;
    margin-left: 4%;
}

.linker ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 25%;
    margin-right: 25%;
}

body{
    background-color: #000000;
}

.tekst{
    color: #ffffff;
    text-align: center;
}